@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-ov{
  background-color: rgba(0, 0, 0, 0.3);
  @apply w-full h-full top-0 left-0 absolute z-10;
}
.text-box{
  @apply absolute z-20 left-10 top-52 text-white w-1/3;
}
body{
  background-color: #252525;
}
.play-icon{
  @apply absolute w-10 h-10 z-20 text-red-500;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);

}
.active-text{
  @apply text-2xl font-medium text-red-500;
}
.non-active-text{
  @apply text-2xl font-medium text-white;
}
.detail-container{
  @apply absolute w-1/2 mx-auto flex items-start justify-center p-4 z-20;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(255, 255, 255, 0.39);
}

